{% extends "layout.jinja2" %}
{% block main %}
<main class="container">
    <div class="form-group">
        <form  method="POST">
            <input type="hidden" name="csrf_token" value="{{ request.session.get_csrf_token() }}" />
            <label for="Title">Title:</label>
            <input class="form-control" rows="5" id="Title" type="text" name="title"></input>
            <br>
            <label for="Entry">Entry:</label>
            <textarea class="form-control" rows="5" id="Entry" type="text" name="body"></textarea>
            <br>
            <input class="btn btn-primary" type="submit" value="Submit"/>
            <a href="{{ request.route_url('home')}}"><button type="button" class="btn btn-default">Cancel</button></a>
        </form>
    </div>
</main>
{% endblock %}